{% set currentUrl = page.url %}

<nav class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <a id="tdbc-siteid" href="/"
    {% if currentUrl === '/' %}aria-current="page"{% endif %}
    >
      <h3>{{ meta.siteName }}</h3>
      <i>{{ meta.slogan }}</i>
    </a>
    
    <ul role="list" class="tdbc-sitenav__navlist tdbc-list-unstyled">
      {% for link in collections.pages %}
      <li>
        <a
          {% if currentUrl === link.url %}aria-current="page"{% endif %}
          class="tdbc-button"
          href="{{ link.url }}">
            {{ link.data.buttonText }}
        </a>
      </li>
      {% if link.data.phoneNumber %} <li><a class="tdbc-button" id="phoneNumber"href="tel:{{link.data.phoneNumber}}">{{link.data.phoneNumber}}</a></li> {% endif %}
      {%- endfor %}
    </ul>
</nav>
