@use "theme" as *;

.form {
    padding: 1em;
    border-radius: $tdbc-border-radius;
    background-color: tdbc-color("secondary");
    color: tdbc-color("dark");
    h3{
        text-align: center;
    }
    form{
        
        input, select, textarea{
            box-sizing: border-box;
            padding:0;
            margin-top:4px;
            margin-bottom: 4px;
            border: 2px solid tdbc-color('dark');
            border-radius: 2px;
            outline:none;
            transition: 0.5s;
            background-color: tdbc-color('light');
            color: tdbc-color('dark');
            &:focus{
                box-sizing: border-box;
                outline: none;
                border: 2px solid tdbc-color('light');
            }
        }
        .tdbc-button{
            box-sizing:border-box;
        }
        p{
            display:flex;
            width: 100%;
            align-items: center;
        }
    }
    

}


