---
layout: base.njk
templateEngineOverride: md, njk
---

{# A tiny extra style for the starter home page, intended to be removed as you customize to fit your own content! #}

<style>
  .logo {
    width: 12vmax;
    height: 12vmax;
    margin: 0 auto 2rem;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  #quickstart + ol li:first-child,
  #quickstart + ol li:first-child p {
    font-size: 1.5rem;
  }
</style>
<header class="tdbc-hero tdbc-background--gray tdbc-ink--light hero-image">
  <h1>Signature Deliveries</h1>
  <button class="tdbc-button tdbc-ink--light tdbc-button--primary">Get a FREE Quote</button>
</header>

<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card tdbc-background--secondary tdbc-ink--light">
         <img src="{{ page.data.image}}" alt="pupper" />
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title tdbc-ink--light">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <style>
    
  </style>

<h2 id="quickstart" class="tdbc-h3 tdbc-mt-lg">Quick Start</h2>

1. [Generate a repo from this template](https://github.com/5t3ph/11ty-netlify-jumpstart/generate) which will copy this project into your own new repo.

1. Once cloned, run `npm install` to install 11ty and other dependencies. Then run `npm start` to run 11ty in watch mode. Use `npm run build` to run a production version.

1. Open `src/_data/meta.js` and adjust the values to your details.

1. Review the [styling documentation](https://5t3ph.github.io/html-sass-jumpstart/) for the included minimal Sass framework, particularly the theme variables, to quickly customize the starter.

1. Edit `src/index.njk` to change the home page - including changing the template type if desired - and then create content within `_pages` using any templating format you prefer to add content.

1. Check out the [About page](/about/) for expanded details on included features of this starter.

1. Review the [11ty documentation](https://11ty.dev) to more deeply apply customizations, including adding custom data sources and reviewing what template languages are available.

<h3 class="tdbc-h4">Is Netlify hosting required?</h3>

It's not required, but highly recommended, and is also how the build process is setup to run.

> For more Eleventy resources, check out my extended collection on [11ty.Rocks](https://11ty.rocks)!

{{ content | safe }}

</main>
