---
layout: base.njk
templateEngineOverride: md, njk
---

<header class="tdbc-hero tdbc-ink--dark hero-image">
  <div>
    <h1 class="hero-cta">Signature Deliveries</h1>
  </div>
  <button class="tdbc-button tdbc-button--center tdbc-ink--light tdbc-button--primary">Get a FREE Quote</button>
</header>
<main class="tdbc-container">
  <div class="tdbc-section">
    <div class="grid">
      <div>
        <ul class="tdbc-column-container">
          {%- for page in collections.pages -%}
            <a href="{{ page.url }}" class="tdbc-card__title">
              <li class="tdbc-card tdbc-background--secondary tdbc-ink--dark">
                <img src="{{ page.data.image }}" alt="pupper"/>
                <div class="tdbc-card__content">
                  {{ page.data.title }}
                  <ul>
                  {%- for service in page.data.services -%}
                  <li>{{service}}</li>
                  {%- endfor -%}
                  </ul>
                </div>
              </li>
            </a>
          {%- endfor -%}
        </ul>
      </div>
      <div>
        {% include "partials/contact.njk" %}
      </div>
    </div>
  </div>
  {{ content | safe }}
</main>