<div class="form" id="contact">
  <h3>Get A Quote</h3>
  <form  class="tdbc-background--secondary tdbc-ink--dark" action="https://formspree.io/f/xbldgngn" method="post">
        <label for="email">Your Email</label>
        <input name="email" id="email" type="email">
        <label for="name">Name</label>
        <input name="Name" id="name" type="name">
        <label for="comany_name">Company Name</label>
        <input name="cmpany_name" id="company_name" type="name">
        <label for="pickup_location">Pickup-Location (Street & Zip)</label>
        <input name="pickup_location" id="pickup_location" type="name">
        <label for="pickup_date_time">Pickup Date & Time</label>
        <input name="pickup_date_time" id="pickup_date_time" type="datetime-local">
        <label for="deslivery_location">Delivery Location (Street & Zip)</label>
        <input name="delivery_location" id="delivery_location" type="name">
        <label for="delivery_date_time">Delivery Date & Time</label>
        <input name="delivery_date_time" id="delivery_date_time" type="datetime-local">
        <label for="vehicle_type">Vehicle Type</label>
        <select name="vehicle_type" id="vehicle_type" type="name">
          <option value="Cargo Van/Sprinter">Cargo Van/Sprinter</option>
          <option value="Box Truck">Box Truck</option>
          <option value="Small Car">Small Car</option>
        </select>
        <label for="weight_dimension">Weight/Dimensions</label>
        <input name="weight_dimension" id="weight_dimension" type="name">
        <label for="description">Description</label>
        <textarea name="description" id="description" type="name"></textarea>
  
        <button class="tdbc-button tdbc-button--center" type="submit">Submit</button>
  </form>
</div>