<form action="https://formspree.io/f/{form_id}" method="post">
  <li class="tdbc-list-unstyled">
      <label for="email">Your Email</label>
      <input name="Email" id="email" type="email">
  </li>
  <li class="tdbc-list-unstyled">
      <label for="first name"> First Name</label>
      <input name="First Name" id="first name" type="name">
  </li>
  <button type="submit">Submit</button>
</form>